.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  margin-bottom: 24px;

  .card-body {
    padding: 16px 24px 0 !important;
  }

  .card-title {
    font-size: 2.125rem;
    font-weight: 400;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin-top: 0 !important;
    margin-bottom: 4px !important;

    a {
      transition: all 0.3s ease-out;

      &:hover {
        color: $brand-primary !important;
      }

    }

  }

  .card-text {
    margin: 0;
  }

  h6 {
    margin-bottom: 0;
  }

}
