@charset "UTF-8";
.navbar {
  box-shadow: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .navbar-nav .nav-item.active{
    .nav-link,
    .nav-link:hover,
    .nav-link:focus {
      background-color: rgba(0, 0, 0, 0.04);
      font-weight: 500;
    }    
  }

}

.navbar.scrollUp {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  box-shadow: none !important;
}

.navbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.3)
}

.navbar-brand {
  padding: 14px 15px 6px !important;

  svg {
    height: 20px;
    fill: $brand-primary;
  }

}

.navbar-toggler-icon {
  background-color: $brand-primary !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.nav-open .navbar-collapse {
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
