@media all and (max-width: 991px) {
    [class*="navbar-expand-"] > .container,
    [class*="navbar-expand-"] > .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-collapse{
        position: fixed;
        display: block;
        top: 0px;
        height: 100vh;
        width: 230px;
        right: 0;
        margin-right: 0 !important;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;

        max-height: none !important;

        @include transform-translate-x(230px);
        @include transitions (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

        &::after{
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: $white-color;
            display: block;
            content: "";
            z-index: 1;
        }

        .navbar-nav{
            position: relative;
            z-index: 3;

            .nav-item{
                .nav-link{
                   color: $black-color;
                   margin: 5px 15px;
                }

                &.button-container .nav-link{
                    margin: 15px;
                }

                &:after{
                    width: calc(100% - 30px);
                    content: "";
                    display: block;
                    height: 1px;
                    margin-left: 15px;
                    background-color: #e5e5e5;
                }

                &:last-child {
                    &:after{
                        display: none;
                    }
                }
            }
        }

        .nav-open &{
            @include transform-translate-x(0px);
        }
    }

    .nav-open{
        .navbar-translate{
            @include transform-translate-x(-230px);
        }
    }

    .navbar{
        .navbar-translate{
            width: 100%;
            position: relative;
            display: flex;
            -ms-flex-pack: justify !important;
            justify-content: space-between !important;
            -ms-flex-align: center;
            align-items: center;
            @include transitions-property (transform, 0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
        }
    }

    .navbar.bg-white{
        .navbar-toggler{
            .navbar-toggler-icon{
                background-color: $brand-primary;
            }
        }
    }

    #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: auto;
        right: 230px;
        content: "";
        z-index: 1029;
        overflow-x: hidden;
    }

}

@media all and (min-width: 991px) {
  .navbar .navbar-nav{
    align-items: center;

    .button-container{
      margin-left: 0.1875px;
    }
  }
}

@media screen and (max-width: 991px) {

    @include topbar-x-rotation();
    @include topbar-back-rotation();
    @include bottombar-x-rotation();
    @include bottombar-back-rotation();

  .navbar {
    .navbar-toggler{
      .navbar-toggler-icon:nth-child(2){
        top: 0px;
        @include bar-animation(topbar-back);
      }
      .navbar-toggler-icon:nth-child(3){
        opacity: 1;
      }
      .navbar-toggler-icon:nth-child(4){
        bottom: 0px;
        @include bar-animation(bottombar-back);
      }

      &.toggled{
        .navbar-toggler-icon:nth-child(2){
          top: 6px;
          @include bar-animation(topbar-x);
        }
        .navbar-toggler-icon:nth-child(3){
          opacity: 0;
        }
        .navbar-toggler-icon:nth-child(4){
          bottom: 6px;
          @include bar-animation(bottombar-x);
        }
      }
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
