@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h1,h2,h3,.h1,.h2,.h3{
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,h5,h6,.h4,.h5,.h6{
  margin-top: 10px;
  margin-bottom: 10px;
}

html *{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: 1.15em;
}
h2, .h2{
  font-size: $font-size-h2;
  line-height: 1.5em;
}
h3, .h3{
  font-size: $font-size-h3;
  line-height: 1.4em;
}
h4, .h4{
  font-size: $font-size-h4;
  line-height: 1.5em;
}
h5, .h5 {
  font-size: $font-size-h5;
  line-height: 1.55em;
  margin-bottom: 15px;
}
h6, .h6{
  font-size: $font-size-h6;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}
p{
  font-size: $font-paragraph;
  margin: 0 0 10px;

  &.feature {
    font-size: 1.1875rem;
    line-height: 1.75rem;
  }
}

b, strong{
  font-weight: 500;
}

a{
  text-decoration: none;
  color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-primary-darker;
  }
}

small,
.small{
  font-size: 75%;
  color: #777;
}

h2.title{
  margin-bottom: $headings-margin-bottom * 2;
}

.description{
  color: $grey;
}

.text-primary {
  color: $brand-primary !important;
}

a.text-primary {
  &:focus,
  &:hover {
    color: $brand-primary !important;
  }

}

.text-white{
  color: white !important;
}

.blockquote{
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;

  p{
    font-size: 1.063rem;
    font-style: italic;
  }

  small{
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
    }
}

code {
  font-size: 100%;
  color: #e91e63;
  word-break: break-word;
}

pre {
  display: block;
  font-size: $code-font-size;
  color: $pre-color;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
