---
layout: default
title: blog
---
<style>
body {
  background-color: #fafafa;
}
</style>

<div class="jumbotron">
  <div class="container">

    <h1>Blog</h1>
    <p>Changelogs and news from the LineageOS team.</p>
    <a class="btn btn-primary" href="{{ site.baseurl }}/feed.xml">{% include svg/rss_feed.svg %} RSS Feed</a>
  </div>
</div>

<div class="container post">
  {% for post in site.categories.blog %}
  <div class="card">

    <div class="card-body">
      <h6>{{ post.excerpt }}</h6>
      <h2 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <p class="card-text">{{ post.date | date: '%B %d, %Y' }}{% if post.author %} {{ post.author }}{% endif %}</p>
    </div>

    <div class="card-button">
      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link text-primary">Read More</a>
    </div>

  </div>
  {% endfor %}
</div>
