---
layout: default
scrolljs: true
---

<div class="jumbotron welcome">
  <div class="container">
    <div class="row justify-content-between align-items-bottom">
      <div class="col-lg-5 text-center text-lg-left pb-10">

        <h1>{{ site.description }}</h1>
        <p>LineageOS is a free and open-source operating system for smartphones and tablet computers, based on the Android mobile platform.</p>
        <a class="btn btn-white text-primary" href="https://download.lineageos.org/">
          {% include svg/download.svg %} Download</a>
        <a class="btn btn-link text-white" href="{{ site.baseurl }}/blog">Blog</a>

      </div>

        <img alt="Home" src="assets/img/peek_device.png" class="welcome-image">


    </div>
  </div>
</div>

<section class="tweaks">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div id="tweaks" class="col-lg-4">
        <img alt="styles" src="assets/img/styles.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-7 text-center text-lg-left">
        <h2>Individuality</h2>
        <p>
            Customization is paramount to productivity.
            <br>
            That’s why Lineage promises to push for user personalization and preference.
            <br>
            <br>
            Everyone is unique and so it should be your device.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="security bg-dark">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">
        <img alt="security" src="assets/img/security.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>Security</h2>
        <p>
            Your data, your rules. With powerful tools such as Privacy Guard,
            you are in control of what your apps can do whenever you want.
            <br>
            <br>

            <p class="text-start-align">
              <div class="feature-inline-image">
                {% include svg/trust.svg %}
              </div>

                Trust will help you understand the security of your device
                and warn you about possible treats.
            </p>

            <br>

            We take security very seriously: that’s why we deliver security
            updates every month to all our supported devices. <br>
            And to be more safe, lock everything behind an enhanced
            lock screen.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="tweaks">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-6">
        <img alt="longevity" src="assets/img/tweaks.png" class="img-fluid text-center" id="rotate-on-scroll">
      </div>

      <div class="col-lg-5 text-center text-lg-left">
        <h2>Longevity</h2>
        <p>
            LineageOS extends the functionality and lifespan of mobile devices from
            more than 20 different manufacters thanks to our open source community
            of contributors from all around the world.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="tools bg-dark section-background-image parallax">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">
        <div class="img-fluid text-center">
          {% include svg/apps.svg %}
        </div>
      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>Power to you</h2>
        <p>
            Our open-source apps are here to help you get through the day.
            <br>
            Want to do more with your handeld device?
            <br>
            Power users will enjoy Unix command-line utilities and
            android developers will turn any device into the perfect device for
            apps development thanks to enhanced tools and exclusive APIs.
            <br>
        </p>
      </div>

    </div>
  </div>
</section>

<section class="download bg-primary" style="margin-bottom: -40px;">
  <div class="container">
    <div class="text-center">
      <h2>Why are you still waiting? Download LineageOS now!</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et
      </p>
      <a class="btn btn-white text-primary" href="https://download.lineageos.org/">
        {% include svg/download.svg %} Download
      </a>
    </div>
  </div>
</section>
