---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
    background: $white;
  font: 18px/1.4 $roboto;
  color: $darkGray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px; /*top-rl-bottom*/
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $teal !important;
  text-decoration: none;
    cursor: pointer;
  &:hover, &:active {
    color: $lightTeal !important;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-color: $teal;
  margin-bottom: 15px;
}

.masthead {
  padding: 20px 0;
  display: flex;
  align-items: center;
  width: inherit;
}

#home-click {
    display: inline-flex;
    align-items:center;
}

.mobile-menu {
    height: 40px;
    display: inline-flex;
    align-items:center;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  margin-left: auto;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white !important;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.nav-mobile {
    display: none;
    @include mobile {
        margin-left: auto;
        position: relative;
        display: inline-block;
        text-align: right;

        img {
            height: 40px;
        }
    }
}

#menu-items {
    display: none;
    position: absolute;
    background-color: $white;
    right: 0;
    color: #167C80;
    border: 0.5px solid #167C80;
    border-radius: 3px;
    padding: 10px;

    a {
        color: black;
        display: block;
    }
}

.nav-mobile:hover #menu-items {
    display: block;
}

.menu-items {
    display: none;
    position: absolute;
}

.nav-mobile:hover .menu-items {
    display: block;
}

.nav-desktop {
    display: block;
    @include mobile {
        display: none;
    }
}

//
// .main
//

#main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    color: #167C80;
    border: 0.5px solid #167C80;
    border-radius: 3px;
    padding: 10px;

    &:hover, &:active {
        color: $white !important;
        background-color: $teal;
    }
  }
}

.entry {
    margin-bottom: 15px;
}

.wrapper-footer {
  background-color: #212121;
  margin-top: 15px;
}

footer {
  padding: 20px 0;
  text-align: center;

  span {
    font: inherit;
    font-size: 12px;
    color: #757575;
  }

  .icons-wrapper {
    display: inline-flex;
    align-items:center;

    img {
    height: 20px;
    margin-left: 20px;
    }

  }
}

.community_wrapper {
  background-color: $lightGray;
}
.community_wrapper h1 {
  padding: 0px 0px 0px 0px;
}
.community_section {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100%;
}
.community_header {
}
.community_item {
  padding: 0px 20px 40px 20px;
  flex-grow: 2;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
