<ul class="nav-parent">
   <a class="nav-link" href="{{ site.baseurl }}/">
      <li class="main-child">Blog</li>
   </a>
   <a class="nav-link" href="{{ site.baseurl }}/about">
      <li class="main-child">About</li>
   </a>
   <a class="nav-link" href="{{ site.baseurl }}/community">
      <li class="main-child">Wiki</li>
   </a>
   <a class="nav-link" href="{{ site.baseurl }}/community">
      <li class="main-child">Community</li>
   </a>
   <li class="main-child">
      Contribute
      <ul class="dropdown-parent">
         <a class="nav-link" href="https://jira.lineageos.org">
            <li class="dropdown-child">Jira</li>
         </a>
         <a class="nav-link" href="https://jenkins.lineageos.org">
            <li class="dropdown-child">Jenkins</li>
         </a>
         <a class="nav-link" href="https://review.lineageos.org">
            <li class="dropdown-child">Gerrit</li>
         </a>
         <a class="nav-link" href="https://github.com/{{ site.footer-links.github }}">
            <li class="dropdown-child">Github</li>
         </a>
      </ul>
   </li>
   <li class="main-child">
      People
      <ul class="dropdown-parent">
         <a class="nav-link" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
            <li class="dropdown-child">Facebook</li>
         </a>
         <a class="nav-link" href="https://plus.google.com/{{ site.footer-links.googleplus }}">
            <li class="dropdown-child">Goole Plus</li>
         </a>
         <a class="nav-link" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
            <li class="dropdown-child">Twitter</li>
         </a>
         <a class="nav-link" href="https://webchat.freenode.net/?channels={{ site.footer-links.irc }}">
            <li class="dropdown-child">IRC Chat</li>
         </a>
      </ul>
   </li>
   <a class="nav-link" href="{{ site.baseurl }}/legal">
      <li class="main-child">Legal</li>
   </a>
   <a class="nav-link" href="https://status.lineageos.org/">
      <li class="main-child">Status</li>
   </a>
</ul>