body {
  background-color: #fafafa;
  padding-top: 70px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
  flex: 1;
  margin-bottom: 24px;
}
.jumbotron {
  background-color: #167c80;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.jumbotron p,
.jumbotron li,
p,
li {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300
}
h6 {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
.heading{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
.card-content-1 p,
.card-content-1 li {
  font-size: 18px;
  line-height: 1.5
}
.card-title {
  font-weight: 400;
  margin: 0;
}
.card-title a {
  transition: all 0.3s ease-out;
}
.card-title a:hover {
  color: #167c80 !important;
  transition: all 0.2s ease-out;
}
.container .text-muted {
  margin: 14px 0;
  font-size: 14px !important;
}
.navbar {
  -webkit-transition: box-shadow 0.2s ease-out !important;
  -moz-transition: box-shadow 0.2s ease-out !important;
  -o-transition: box-shadow 0.2s ease-out !important;
  -ms-transition: box-shadow 0.2s ease-out !important;
  transition: box-shadow 0.2s ease-out !important;
}
.navbar-transparent {
  background: white !important;
  color: black !important;
  padding-top: 10px !important;
}
.navbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.3) !important;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); !important;
  background-color: white;
  margin-bottom: 24px;
}
.card-content-1 {
  padding: 24px !important;
}
.card-button {
  padding: 0 8px;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.footer-icons {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 32px;
  float: right;
  height: 100%;
}
.fa{
  transition: .5s;
}
.fa:hover {
  color: black;
}
.footer {
  width: 100%;
  background-color: #EEEEEE;
}
@media (max-width: 768px) {
  
  .heading {
    font-size: 50px;
  }
  .footer-icons,
  .footer {
    text-align: center !important;
    float: none
  }
  
}