<!DOCTYPE html>
<html lang="en">
<head>
  {% include meta.html %}

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/base.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://use.fontawesome.com/57a97262d2.js"></script>

  {% if page.md or layout.md %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/md.css">
  {% endif %}

</head>
<body class="mdc-typography"{% if page.background or layout.background %} style="background: #{{ page.background }}{{ layout.background }}"{% endif %}>

  <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <button class="demo-menu material-icons mdc-toolbar__icon--menu">&#xE5D2;</button>
        <a href="{{ site.baseurl }}/" class="mdc-toolbar__title">LINEAGE</a>
      </section>
    </div>
  </header>

  <aside class="mdc-temporary-drawer">
    <nav class="mdc-temporary-drawer__drawer">
      <header class="mdc-temporary-drawer__header">
        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
          <img class="mdc-drawer-logo" src="{{ site.baseurl }}/assets/img/lineageos_logo_white.png" />
        </div>
      </header>
      <nav class="mdc-temporary-drawer__content mdc-list-group">
        <div id="icon-with-text-demo" class="mdc-list">
          <a class="mdc-list-item" href="{{ site.baseurl }}/">
            <i class="fa fa-newspaper-o mdc-list-item__start-detail"></i>Blog
          </a>
          <a class="mdc-list-item" href="{{ site.baseurl }}/about/">
            <i class="material-icons mdc-list-item__start-detail">&#xE88F;</i>About
          </a>
          <a class="mdc-list-item" href="{{ site.baseurl }}/community/">
            <i class="material-icons mdc-list-item__start-detail">&#xE7FB;</i>Community
          </a>
          <a class="mdc-list-item" href="{{ site.baseurl }}/legal/">
            <i class="material-icons mdc-list-item__start-detail">&#xE90C;</i>Legal
          </a>
          <a class="mdc-list-item" href="http://status.lineageos.org/">
            <i class="material-icons mdc-list-item__start-detail">&#xE876;</i>Status
          </a>
          <a class="mdc-list-item" href="http://wiki.lineageos.org/">
            <i class="material-icons mdc-list-item__start-detail">&#xE8AF;</i>Wiki
          </a>
          <a class="mdc-list-item" href="http://download.lineageos.org/">
            <i class="material-icons mdc-list-item__start-detail">&#xE2C4;</i>Downloads
          </a>
        </div>
      </nav>
    </nav>
  </aside>

  <main class="mdc-toolbar-fixed-adjust content">

  {{ content }}

  </main>

  <footer class="footer">
    <div class="footer__content">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-phone">

            <p class="mdc-typography--body2">&copy; 2016 - {{ site.time | date: '%Y' }} The LineageOS Project</p>
            <p><b>Note:</b> LineageOS LLC is not a 501(c)(3) non-profit, as such donations are not tax-exempt.</p>
            <a href="bitcoin:12aDckQC6YHEn75zReQWxXFCivBBNXfRjM" class="mdc-button mdc-button--primary	mdc-button--compact mdc-button--raised">Bitcoin</a>
            <a href="https://paypal.me/LineageOS" class="mdc-button mdc-button--primary mdc-button--compact mdc-button--raised">PayPal</a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-phone">

            <div class="footer-icons">
              {% include footer-icons.html %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/base.js"></script>

</body>
</html>
